&#landing
	background white
	overflow auto
	basesize = 300px
	transform scale(0.8) translateX(-150%)
	section
		height basesize * 2
		position relative 
		color #444
		overflow hidden
		h1
			display block
			margin 10px 0 0
			padding 0
			font-size 24pt
		&:nth-child(2n + 1)
			background #222
			color orangecol
		&:nth-child(2n) > *
			color bluecol
		&:first-child
			height basesize
		&#raspmenu
			height basesize * 1.3
		> .container
			margin 0 auto
			width 1000px
	header
		background orangecol
		text-align center
		height 100%
		color black
		img, h1
			line-height basesize
			display inline
			margin 0
			padding 0
			font-size 72pt
			color white
			text-shadow 0 1px 1px black
			vertical-align middle
			padding 10px
			font-family Roboto
	raspwid = 360px
	nav
		color black
		background white
		text-align center
		position absolute
		left 50%
		top 50px
		pad = 20px
		margin 0 0 -(raspwid / 2)
		pad = 20px
		width raspwid - (pad * 2)
		height (basesize * 1.3) - (pad * 2) - 100px
		background orangecol
		border solid 10px lighten(orangecol, 40)
		toprad = 450px
		bottomrad = 550px 800px
		border-top-left-radius toprad
		border-top-right-radius toprad
		border-bottom-left-radius bottomrad
		border-bottom-right-radius bottomrad
		padding pad
		transition border-color 0.5s ease-in-out
		h1
			font-size 42pt
			color rgba(256, 256, 256, 0.4)
			text-transform uppercase 
			padding 50px
			margin 0
			transition all 0.5s ease-in-out
		&:hover 
			border-color lighten(orangecol, 50)
			h1
				text-shadow 0 1px 1px black
				color white

	aside
		position absolute
		top 50px
		left 50px
		right 50px
		bottom 50px
		color black
		&:first-of-type
			right 50%
			padding-right (raspwid / 2) + 50px
		&:last-of-type
			left 50%
			padding-left (raspwid / 2) + 50px
		.container
			overflow hidden
			background bluecol
			border solid 10px lighten(bluecol, 45)
			position relative
			padding 0
			margin 0
			height 100%
			box-shadow 0 0 10px rgba(0, 0, 0, 0.3) inset
			> *
				padding 5px 15px
				margin 0
			h1
				color white
				background darken(bluecol, 10)
				height 45px
				line-height 45px
				text-shadow 0 1px 1px black
			.content
				padding-bottom 20px
				position absolute
				left 0
				right 0
				bottom 0
				top 55px
				padding-top 5px
				padding 5px 0
				background rgba(256, 256, 256, 0.4)
				input, button
					width 100%
					padding 15px 0
					margin 10px 0 0 0 
					line-height 15px
					height 15px
					background white
					border none
					border-bottom solid 1px #ccc
					background rgba(256, 256, 256, 0.8)
					text-indent 5px
					outline none
					transition all 0.5s ease-in-out
					&:hover
						background white
				button 
					position absolute
					bottom 0
					left 0
					right 0
					height 25px
					padding 15px 0 30px 0
					text-indent 0