// Defining variables
@import "variables"

body, html
	overflow hidden
	width 100%
	height 100%
	margin 0
	padding 0

body
	width 100%
	height 100%
	font-size 10pt
	font-family Roboto, sans-serif
	color #242424
	background #100


body
	@import "fonts"
	@import "pages"
	@import "modal"
	@import "sidebar"
	@import "loading"
	@import "document"